/* Fonts */
@font-face {
    font-family: 'space-grotesk', sans-serif;
    src: url(./space-grotesk/space-grotesk-v21-latin-regular.woff2) format('woff2'),
    url(./space-grotesk/space-grotesk-v21-latin-regular.woff) format('woff'),
    url(./space-grotesk/space-grotesk-v21-latin-regular.ttf) format('truetype');
}

@font-face {
    font-family: "jetbrains-mono", sans-serif;
    src: url(./jetbrains-mono-font/jetbrains-mono-v23-latin-regular.woff2) format('woff2'),
    url(./jetbrains-mono-font/jetbrains-mono-v23-latin-regular.woff) format('woff'),
    url(./jetbrains-mono-font/jetbrains-mono-v23-latin-regular.ttf) format('woff');
}

/* universal reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
}

/* all content inside the container class*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'space-grotesk', sans-serif;
}

/* header sections, hero-name, links and theme-toggle */
.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 84px;
    background-color: #46433B;
    
}

#hero-name a {
    margin-left: 50px;
    color: #B1AEA5;
    font-size: 22px;
    text-decoration: none;
}

.navbar {
    padding-left: 350px;
}

.nav-links {
    display: flex;
    list-style: none;
    font-size: 20px;
    
}

.nav-links a {
    padding: 0 15px;
    text-decoration: none;
    color: #B1AEA5;
}

#theme-toggle {
    background-color: #46433B;
    margin-right: 50px;
    border: none;
    cursor: pointer;
}
#moon-logo {
    width: 25px;
    height: 25px;
}

#sun-logo {
    display: none;
    width: 35px;
    height: 35px;
}

/* first section containing "hello world!", about, profile picture and technologies */
#typewriter {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: #504935;
    font-family: "jetbrains-mono", sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    
}
.first-section {
    margin: 100px 50px 0px;
    display: grid;
    height: 600px;
    width: 1100px;
    grid-template: 90px repeat(2, 200px) / 265px 120px 700px;
}

#intro {
    font-size: 1.4rem;
    margin: 5px 0;
    color: #504935;
}

#profile-picture {
    width: 265px;
    height: 400px;
}

.about-luis, .tools-technologies {
    font-weight: 500;
    margin-bottom: 20px;
}

#about {
    display: grid;
    justify-items: center;
    align-content: center;
    font-size: 1.08rem;
    color: #504935;
    background-color: #FFFBEF;
    text-align: center;
    height: 220px;
    width: 670px;
    grid-row: 2 / 3;
    grid-column: 3 / 5;
}

.tech-section {
    display: grid;
    justify-items: center;
    align-content: center;
    margin-top: 30px;
    height: 170px;
    width: 650px;
    grid-row: 3 / 4;
    grid-column: 3 / 5;
    background-color: #46433B;
    color: #B1AEA5;
}
.tech-icons {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 30px;
    height: 35px;
}