/* Fonts */
@font-face {
    font-family: 'space-grotesk';
    src: url(./space-grotesk/space-grotesk-v21-latin-regular.woff2) format('woff2'),
    url(./space-grotesk/space-grotesk-v21-latin-regular.woff) format('woff'),
    url(./space-grotesk/space-grotesk-v21-latin-regular.ttf) format('truetype');
}

@font-face {
    font-family: "jetbrains-mono";
    src: url(./jetbrains-mono-font/jetbrains-mono-v23-latin-regular.woff2) format('woff2'),
    url(./jetbrains-mono-font/jetbrains-mono-v23-latin-regular.woff) format('woff'),
    url(./jetbrains-mono-font/jetbrains-mono-v23-latin-regular.ttf) format('woff');
}

/* universal reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  max-width: 1920px;
  min-height: 100vh;
}
